Source: libmsiecf
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, python-dev, python-setuptools, python3-dev, python3-setuptools
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libmsiecf
Vcs-Git: https://github.com/libyal/libmsiecf.git

Package: libmsiecf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmsiecf1
Replaces: libmsiecf1
Suggests: libmsiecf-dbg
Description: Library to access the MSIE Cache File (index.dat) format
 libmsiecf is a library to access the MSIE Cache File (index.dat) format.

Package: libmsiecf-dbg
Architecture: any
Section: debug
Depends: libmsiecf (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf
 Debugging symbols for libmsiecf.

Package: libmsiecf-dev
Section: libdevel
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libmsiecf
 Header files and libraries for developing applications for libmsiecf.

Package: libmsiecf-tools
Section: utils
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmsiecf-utils
Replaces: libmsiecf-utils
Description: Several tools for reading MSIE Cache File (index.dat)
 Several tools for reading MSIE Cache File (index.dat).

Package: libmsiecf-tools-dbg
Section: debug
Architecture: any
Depends: libmsiecf-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf-tools
 Debugging symbols for libmsiecf-tools.

Package: libmsiecf-python
Section: python
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python-libmsiecf
Replaces: python-libmsiecf
Suggests: libmsiecf-python-dbg
Description: Python 2 bindings for libmsiecf
 Python 2 bindings for libmsiecf.

Package: libmsiecf-python-dbg
Section: debug
Architecture: any
Depends: libmsiecf-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf-python
 Debugging symbols for libmsiecf-python.

Package: libmsiecf-python3
Section: python
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libmsiecf
Replaces: python3-libmsiecf
Suggests: libmsiecf-python3-dbg
Description: Python 3 bindings for libmsiecf
 Python 3 bindings for libmsiecf.

Package: libmsiecf-python3-dbg
Section: debug
Architecture: any
Depends: libmsiecf-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf-python3
 Debugging symbols for libmsiecf-python3.

