Source: libmsiecf
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, python-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libmsiecf/

Package: libmsiecf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libmsiecf-dbg
Description: Library to access the MSIE Cache File (index.dat) format.
 libmsiecf is a library to access the MSIE Cache File (index.dat) format.

Package: libmsiecf-dbg
Architecture: any
Section: debug
Depends: libmsiecf (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf
 Debugging symbols for libmsiecf.

Package: libmsiecf-dev
Section: libdevel
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libmsiecf
 Header files and libraries for developing applications for libmsiecf.

Package: libmsiecf-tools
Section: utils
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading MSIE Cache File (index.dat).
 Several tools for reading MSIE Cache File (index.dat).

Package: libmsiecf-python
Section: python
Architecture: any
Depends: libmsiecf (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libmsiecf-python-dbg
Description: Python bindings for libmsiecf
 Python bindings for libmsiecf.

Package: libmsiecf-python-dbg
Section: debug
Architecture: any
Depends: libmsiecf-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libmsiecf-python
 Debugging symbols for libmsiecf-python.

